<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029763187650-jf1egjdj85365k7c36pp7l4lpqrg1skv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029763187650-jf1egjdj85365k7c36pp7l4lpqrg1skv</string>
	<key>API_KEY</key>
	<string>AIzaSyCrLA6B1-api7G2CKOsehaJNFp90VjY_O8</string>
	<key>GCM_SENDER_ID</key>
	<string>1029763187650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cocoaAV3</string>
	<key>PROJECT_ID</key>
	<string>cocoa-a-v3</string>
	<key>STORAGE_BUCKET</key>
	<string>cocoa-a-v3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029763187650:ios:5a607b33b40597661f0c5b</string>
</dict>
</plist>